.action-wrapper{
    display: inline-flex;
    padding: 0px 25px;
}



@media only screen and (max-width: 420px){
    .action-wrapper{
        line-height: 50px;
        padding: 0;
        justify-content: center;
    }
    .action-wrapper.actions{
        position: absolute;
        margin-top: 70px;
        width: 300px;
        border-radius: 5px;
        background-color: inherit;
    }
        .action-wrapper .main-action{
        padding: 0px 10px;
    }

}