.background-image{
    height: 270px;
    width: 100%;
    background-image: url(../images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    position: absolute;
    z-index:  -1;
}

.background-image.-night{
    background-image: url(../images/bg-desktop-dark.jpg);
}


@media only screen and (max-width: 420px){
    .background-image{
        height: 180px;
    }
}