.check-task{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid hsl(233, 11%, 84%);
    opacity: 0.9;

}

.check-task.-completed{
    background-image: url(../images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}