.main-header{
    display: flex;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    justify-content: space-between;
    align-items: top;
}

.main-header h1{
    font-size: 45px;
    margin-bottom: 42px;
    font-weight: 600;
    color: #FFF;
}


.main-header .nighticon{
    cursor: pointer;
    height: 26px;
    width: 26px;
    background-image: url(../images/icon-moon.svg);
}

.main-header .nighticon.-night{
    cursor: pointer;
    height: 26px;
    width: 26px;
    background-image: url(../images/icon-sun.svg);
}

@media only screen and (max-width: 420px){
    .main-header{
        width: 300px;
        margin-top: 30px;
    }
    .main-header h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
}