
.todo-table{
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 98%);
    width: 540px;
    line-height: 65px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    vertical-align: middle;
}

.todo-table.-night{
    background-color: hsl(235, 24%, 19%);
    color: #FFF;
}

tr{
    border-bottom: 1px solid hsla(233, 11%, 84%, 0.425);
}

.hidden{
    display: none;
}



.task.name{
    width: 70%;
    text-align: left;
    vertical-align: middle;
}

.task.name.-completed{
    text-decoration: line-through;
    opacity: 0.5;
}



.task.delete{
    box-sizing: border-box  ;
    height: 65px;
}

.btnDelete{
        display: inline-block;
        background-color: hsl(0, 0%, 98%);
        border: none;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        height: 65px;
        vertical-align: middle;
}

.btnDelete svg{
    height: 20px;
    color: rgb(158, 11, 11);
}

.btnDelete.-night{
        background-color:  hsl(235, 24%, 19%);
}
.btnDelete.-night svg{
        color: hsl(233, 11%, 84%);
}

